<!-- Form favorite start -->
<form action="/create_favorite_from_user" method="post">
<!-- Form favorite end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <input type="text" id="dish_id" name="dish_id" class="form-control" value="<%= @favorite.dish_id %>">
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @favorite.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <!-- Input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
