<form action="/create_favorite_from_venue" method="post">

  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :cuisine_id, @favorite.dish_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="venue_id" value="<%= @venue.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @favorite.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
